* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*All Pages*/
body {
	background-color: #151515;
}

.left {
	text-align: left;
}

.cityimg {
	width: 100vw;
}

.compass {
	background-image: url(../img/compass.png);
	background-size: contain;
	position: fixed;
	right: 5vw;
	top: 5vw;
	z-index: 99999;
	width: 6.5vw;
	height: 6.5vw;
	transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
}
.compass:hover{
	transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);}


.bodyTitle {
	text-align: center;
	margin-bottom: 2vw;
}

.bodyText {
	padding: 8vw 16vw;
	text-align: center;
}

.footer {
	height:5vw;
	background-color:#151515;
	text-align: center;
	color:white;
}

#trigger-overlay{
	position: fixed;
	top: 0;
	right: 0%;
	z-index: 10;
	margin: 1.6em;
	background-color:rgba(0,0,0,0);
	border-radius: 10px;
	cursor: pointer;
}

/*Social Media */
.smbackground {
	background-color: #151515;
}

.socialmedia {
	height: 12vw;
	padding-top: 2vw;
}

.socialicon {
	padding: 5vw;
	opacity: .8;}
	.socialicon:hover {opacity: 1;}

/*Home Page*/
.container{
	overflow-y: hidden;
	overflow-x: hidden;
}

.Newbox {
	background-color: #476FD1;
	width: 100vw;
	text-align: center;
	padding: 8vw 10vw;
	padding-bottom: 0;
}

.NewboxTitle {
	font-size: 6rem;
}

.NewboxText {
	padding: 0vw 10vw;
	padding-bottom: 3vw;
}

.FeedboxText {
	padding: 3vw;
}

.FeedboxText h3 {
	font-size: 2em;
	color: #222;
}

.FeedboxText h4,
.FeedboxText h6 {
	color: #222;
}

.item { 
	width: 23%; 
	background-color: #FFF;
	text-align: left;
	min-height: 22vw;
	border-bottom: .2em solid #E62C50;
}

.firstBox {
	background-color: #E62C50;
}

.boxtwitter {
	padding: 2vw;
}

.twittercontent {
	margin-bottom: 1.5em;
}

.Left {
	text-align: left;
	padding-top: 0;
}

.boxdarkblue {background-color: #233180;}
.boxblue {background-color: #3461D4;}
.boxred {background-color: #E62B1E;}
.boxpink {background-color: #E62C50;}
.boxgold {background-color: #F7C02F;}

/*About Page*/
.aboutHeader {
	background-color: #3461D4;
	background-image: url(../img/UT1.JPG);
	background-size: contain;
	opacity: .9;
	text-align: center;
	width: 100vw;
	height: 50vw;
}

.aboutBody {
	background: #000000; /* Old browsers */
		background: -moz-linear-gradient(top,  #151515 25%, #233180 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#151515), color-stop(100%,#233180)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #151515 25%,#233180 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #151515 25%,#233180 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #151515 25%,#233180 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #151515 25%,#233180 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#233180',GradientType=0 ); /* IE6-9 */
}

.aboutTitleTEDx {
	margin-bottom: 0;
}

.aboutTEDxUofT {
	padding-bottom: 1vw;
}

.abcover {
	background-size: cover;
	widows: 100vw;
	height: 35vw;
	opacity: .8;
}
.abcover1 {background-image: url(../img/beatles.jpg);}
.abcover2 {background-image: url(../img/UT1.JPG);}
.abcover3 {background-image: url(../img/UT2.jpg);}
.abcover4 {background-image: url(../img/UT3.jpg);}
.abcover5 {background-image: url(../img/UT4.jpg);}

.uoftstar {
	width: 40%;
}

/* main.html */
.large-header {
	position: relative;
	width: 100vw;
	height: 90vw;
	background: #000;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.headerText {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.headerText span {
	color: #E62B1E;
	font-weight: 800;
}

.main-title {
	font-size: 6em;
	top: 25%;
}

.sub-title {
	font-size: 3.8em;
	top: 38%;
}

.sub2-title {
	font-size: 3.6em;
	top: 60%;
}

.large-header {
	background-image: url('../img/Header.png');
}

.scroll-title {
	top: 89%;	
}

.scrollimg {
	background-image: url(../img/scroll.png);
	background-size: contain;
	position: absolute;
	top: 80%;
	left: 47%;
	z-index: 99999;
	width: 6em;
	height: 6em;
	opacity: .8;
	transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
}

.scrollimg:hover {
	opacity: .9;
	transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}

/*END main.html */

/*video.html*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 1em;
	height: 0;
	margin-bottom: -20%;
}
.videoWrapper iframe {
	position: absolute;
	top: 3vw;
	left: 17.5%;
	width: 65%;
	height: 65%;
}

.displayVideoInfo{
	padding-left: 18vw;
	padding-top: 4.5vw;
}

.videoDescription {
	margin: 0; padding: 0;
	margin-top: 1.5vw;
	margin-bottom: 5vw;
	line-height: 1.6;
}
	
.video_box{
	height:20vw;
	cursor:pointer;
}

.video_box .video_boxContent::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
	content: '';
    opacity: 1;
    transform: translate3d(0,0%,0);
    transition: opacity 0.00s, transform 0.35s;
	background: #000;
	overflow: hidden;
}
 
.video_box:hover .video_boxContent::before {
    opacity: .5;
    transform: translate3d(0,0,0);
	background: #E62C50;
}

.video_box .video_boxContent::before {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.video_box .videoTitle {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
	padding: 2vw;
    transition: transform 0.35s, color 0.35s;
    transform: translate3d(0,-50%,0);
}

.video_box:hover .videoTitle {
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

/*END video.html*/

/*nomination.html*/
.step-button-undone{
	text-align:center;
	position:relative;
	border-radius: 25px;
	background-color: #6D6A6A;
	width:50px;
	height:50px;
	margin: 1% 5%;	
	opacity: 0.5;
	cursor: pointer;
}

.step-button-done{
	text-align:center;
	position:relative;
	border-radius: 25px;
	background-color: #6D6A6A;
	width:50px;
	height:50px;
	margin: 1% 5%;	
	opacity: 1;
	cursor: pointer;
}


.step-button-text { 
	position:absolute; 
	top:30%;	
	margin-left:0.3em;
	color:white;
}

/*END nomination.html*/


/*Mobile view*/
@media all and (max-width: 480px) {
	/*All page*/
	.compass {
		width:75px;
		height:75px;
	}
	/*END All page*/
	
	/*main page*/
	.item { 
		width: 48%;
	}
	/*END main page*/
	
	/*about page*/	
	.abcover{
		height:70vw;
	}
	.aboutBody p{
		text-align:center;
	}
	/*END about page*/

	/*video page*/
	.displayVideoInfo {
		text-align:center;
	}
	
	.displayVideoInfo h3 span{
		font-size:30px;
	}
	
	.videoTitle h3{
		font-size:14px;
	}

	.videoTitle h4{
		font-size:12px;
	}
	
	.videoDescription {
		text-align:center;
	}
	/*END video page*/
}

/*Tablet*/
@media all and (min-width: 481px) and (max-width: 768px){

	.item { 
		width: 48%;
	}

}

/*Small window*/
@media all and (min-width: 769px) and (max-width: 966px){

}
