body{
    background-color: black;
}
.presentBoxInner{
    background-color:#24254c;
}
.presentBoxOuter{
    padding: 0;
    padding-top: 2%;
}
.no-padding{
    padding: 0;
}
div.presentBoxOuter a.no-padding{
    padding: 0;
}

#mainBody   div.presentBoxOuter div.content{
    padding: 0;
    padding-left:2%;
    color: white;
}
.detail{
    padding: 0 15%;
    line-height:1.5;
    background-color: #000025;
}

.infoBox{
    margin-left:1.1rem;
}

@media all and (max-width: 640px) {
    .infoBox, ul {
        margin-left: 0;
    }
}
