<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TEDxUofT 2015 - A Constellation of Insights</title>
    <meta name="description" content="TEDxUofT is dedicated to organizing, planning and running student TED talks at U of T, in cooperation with the official TED program. The event will be held on March 15th, 2015 and will include a variety of speakers from all disciplines.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/foundation.min.css">
	  <link rel="stylesheet" href="styles/foundation-icons/foundation-icons.css" />
	  <link rel="stylesheet" href="styles/overlay-menu.css">

	  <link rel="stylesheet" href="styles/font.css">
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="styles/main.css?v=5">
    <!-- endbuild -->




  </head>
  <body ng-app="tedxUofT2015App">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
		<!-- <div class="header"></div> -->


	<div class="header">
		<div class="compass" id="trigger-overlay">
			<span>Menu</span>
		</div>
	</div>

    <div class="container" ng-view="">
	</div>

	<div class="overlay overlay-hugeinc" ng-controller = "MainCtrl">
		<button type="button" class="overlay-close" id="close_overlay"></button>
		<nav>
			<ul>
				<li><a href="#/" ng-click="overlayMenuClick()">Home</a></li>
				<li><a href="#/conference" ng-click="overlayMenuClick()">Conference</a></li>
				<li><a href="#/videos" ng-click="overlayMenuClick()">Videos</a></li>
				<li><a href="#/about" ng-click="overlayMenuClick()">About</a></li>
			</ul>
		</nav>
	</div>

	<!-- Mailing List -->
	<div class="row smbackground" ng-controller = "MainCtrl" ng-show="mailingList.show">
		<div class="small-10 medium-8 large-4 columns small-centered" style="margin-top:1vw;" id="mailingSystem">
			 <div class="row">
				<div class="large-12 columns">
				  <div class="row collapse">
					<div class="small-12 columns  small-centered" style="margin-bottom:10px;font-size:16px;text-align:center;" >
					 <p>{{mailingLabel}}</p>
					</div>

					<div class="small-9 columns small-centered">
						<div class="small-10 columns" >
							<input type="text" placeholder="{{mailingPlaceHolder}}" style="border-radius:2px 0px 0px 2px; font-weight:800; text-align:center; height: 60px; padding-left:15px"
							ng-model="mailingInput" focus-me="mailingFocusInput" >
						</div>
						<div class="small-2 columns end" ng-show="steps==0">
						  <a href="javascript:void(0)" class="button postfix"
						  style="background-color:#4c54ad; border-radius:0px 2px 2px 0px;height: 60px;vertical-align: middle;display: table-cell;width: 100px;"
						  ng-click="mailingNext()">
							{{mailingButton}}
						  </a>
						</div>

						<div class="small-2 columns end" ng-show="steps>0">
						  <a href="javascript:void(0)" class="button postfix"
						  style="background-color:#4c54ad; border-radius:0px 2px 2px 0px;height: 60px;vertical-align: middle;display: table-cell;width: 100px;"
						  ng-click="mailingNext()">
							<img src="img/TED15_arrow_icon.png" width="25px" />
						  </a>
						</div>
						<div class="small-12 columns" >
							<div ng-class="mailingBarleft">
								<div style="background-color:#4C54AD; height:4px; margin-top:-16px"></div>
							</div>
							<div  ng-class="mailingBarRight">
								<div style="background-color:#7D9DE8; height:4px; margin-top:-16px"></div>
							</div>
						</div>
					</div>

					<div class="small-8	 columns small-centered">
						<div class="small-10 columns" style="margin-top:-10px; margin-left:-20px;">
						 {{mailingMsg}}
						</div>
						<div class="small-2 columns pull-right" style="margin-top:-10px; color:#5D65BF; font-weight:500; margin-right:-40px;" ng-show="mailingInput || steps>0">
						 {{mailingLeft}}
						</div>
					</div>

				  </div>
				</div>
			  </div>

		</div>
		<div class="small-6 medium-2 large-2  columns small-centered" style="margin-top:1vw;" id="mailingSubmitting">
		 <h1>Submitting</h1>
		</div>

		<div class="small-6 medium-2 large-2  columns small-centered" style="margin-top:1vw;" id="mailingSuccess">
		 <h1>Thank you!!</h1>
		</div>
		<div class="small-6 medium-4 large-4  columns small-centered" style="margin-top:1vw;" id="mailingFail">
		 <h5>Sorry! Something went wrong. <br> Please send it to Applications@TEDxUofT.com</h5>
		</div><!-- End Mailing List -->


		<div class="small-9 medium-8 large-6 columns small-centered socialmedia" ng-show="socialMedia.show">
			<ul class="small-block-grid-3">
				<li><a href="https://twitter.com/TEDxUofT" target="_blank"><img src="img/TED15_Twitter_icon.png" class="socialicon"></a></li>
				<li><a href="https://www.facebook.com/tedxuoft" target="_blank"><img src="img/TED15_Fb_icon.png" class="socialicon"></a></li>
				<li><a href="http://instagram.com/tedxuoft" target="_blank"><img src="img/TED15_Instagram_icon.png" class="socialicon"></a></li>
			</ul>
		</div>

		<div class="small-12 columns footer">
			<p><span>This independent TEDx event is operated under license from TED.</span></p>
		</div>
	</div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-47529145-1', 'auto');
		  ga('send', 'pageview', '/');
	</script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->


	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/get-style-property/get-style-property.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/doc-ready/doc-ready.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script src="bower_components/matches-selector/matches-selector.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/angular-masonry/angular-masonry.js"></script>
    <script src="bower_components/angular-smoothscroll/dist/scripts/bb15da28.scripts.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/foundation.min.js"></script>
	<script src="scripts/foundation/foundation.reveal.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/plugins/OverlayMenu/modernizr.custom.js"></script>
	<script src="scripts/plugins/OverlayMenu/classie.js"></script>
	<script src="scripts/plugins/OverlayMenu/demo1.js"></script>
	<script src="scripts/directives/backimg.js"></script>
	<script src="scripts/controllers/nomination.js"></script>
	<script src="scripts/controllers/video.js"></script>
	<script src="scripts/controllers/volunteer.js"></script>
	<script src="scripts/controllers/conference.js"></script>
	<script src="scripts/directives/autofocus.js"></script>
   <script src="scripts/controllers/application.js"></script>
	<!-- endbuild -->
</body>
</html>
