body{
    background-color: black;
}

.presentBoxOuter{
    padding: 0;
    padding-top: 2%;
}
.no-padding{
    padding: 0;
}
.presentBoxInner{
    background-color:#24254c;
	padding-top:1px;
}
div.presentBoxOuter a.no-padding{
    padding: 0;
}

#mainBody   div.presentBoxOuter div.content{
    padding: 0;
    padding-left:2%;
    color: white;
}
.detail{
    padding: 0 15%;
    line-height:1.5;
    background-color: #000025;
}

.infoBox{
    margin-left:1.1rem;
}

.speakerPic{
	width: 195px; 
	height: 173px; 
	background-size: 120% 100%;
	float:left;
}

.speakerInfo{
	height:170px;
}

#tooBig h3{
	font-size: 20px;
}

#tooBig h5{
	font-size: 15px;
}

.accordion .accordion-navigation>a, .accordion dd>a{
	color:white;
}

.category{
  font-size: 0.9rem;
}

@media all and (max-width: 640px) {
    .infoBox, ul {
        margin-left: 0;
    }
	
	h3{
		font-size:1.25rem; 
	}
	
	h4{
		font-size:1.125rem;
	}
	
	h5{
		font-size:  0.8rem;
	}
	
	#tooBig h3{
		font-size: 0.8rem;
	}

	#tooBig h5{
		font-size: 0.7rem;
	}

}
