<div class="row confTheme">
	<div class="small-12 small-centered columns">
		<div class="confGalaxy"></div>
		<div class="confGalaxyGradient"></div>
		<div class="small-12 small-centered columns confTitle">
			<h3>We're excited to bring you</h3>
			<h1>TEDxUofT<br><span>2015</span> Conference</h1>
			<a class="scrollimg" smooth-scroll-jquery target="Scroll" speed="1500" offset="0"></a>
		</div>
	</div>
	
	<img src="/img/constellations.png" class="illuConstellations">
	<div class="small-12 small-centered columns cfTheme">
		<img src="/img/Constellation-Title.png" class="small-10 medium-5 small-centered columns">
		<a id="Scroll" name="scroll" ></a>
		<h4 class="small-12 medium-7 small-centered columns">TEDxUofT will be holding its 3rd annual conference, bringing once again UofT's brightest minds and ideas together in the spirit of a TED-like experience.</h4>
		<p class="small-12 medium-7 small-centered columns">‘A Constellation of Insights’ was chosen as the theme for TEDxUofT 2015. This theme allows for many different interpretations. A constellation represents both individuality and collaboration, illustrating how ‘connecting the dots’ can lead to fantastical discoveries; a concept which can be translated across fields and cultures. While each star can be easily distinguished from its neighbours, it is the collective formation that ultimately produces the picture humans have observed looking up at the heavens. 
			<br>With an ancient history in both creativity and practicality, constellations form the basis of communication; 
			inspiring story-tellers and guiding travellers for thousands of years.</p>
		
	</div>
	
	<div class="small-12 small-centered columns joinustitle">
		<img src="/img/stars.png" class="illustars">
		<h1>Join us on</h1>
		<h1><span>15.03.15</span></h1>
		<div>
			<img src="/img/Planets-03.png" class="svgPlanet">
			<img src="/img/moon.png" class="svgMoon">
			<img src="/img/rocketship.png" class="svgRocket">
		</div>
		<div class="small-12 medium-7 small-centered columns">
			<p>TEDxUofT is a full day conference taking place March 15th, 2015 at the <a>JJR MacLeod Auditorium</a> on the St. George campus from 10am to 6pm. This full day conference will be an engaging experience featuring UofT's brightest minds and talent. Their ideas will spark discussion during our intermissions, which will feature amazing food and interactive stations that promote the ideals of TED.</p>
		</div>
	</div>
	
	<div class="small-12 columns cfTheme">
		<h1 class="small-12 small-centered columns speakersTitle">Our Speakers</h1>
		
		<div class="small-12 medium-9 small-centered columns">
			<div class="small-12 large-6 columns speakerContent onebox speakerPhoto"></div>
			<div class="small-12 large-6 columns speakerContent ">
				<h2>Joshua Liu</h2>
				<h3>Health</h3>
				<p>Dr. Joshua Liu is a physician turned entrepreneur who believes that the future of healthcare depends on the intersection of design, data and technology. He is currently the co-founder &amp; CEO of SeamlessMD, a healthcare technology company advancing patient care in surgery using mobile &amp; web technology. During his medical training, Joshua co-led a project at the University Health Network’s Centre for Innovation in Complex Care on hospital readmissions. Joshua was named a Forbes 30 Under 30 in Healthcare in 2014 and previously a Canadian Top 20 Under 20.</p>
			</div>
		</div>
		
		<div class="small-12 medium-9 small-centered columns">
			<div class="small-12 large-6 columns speakerContent twobox speakerPhoto"></div>
			<div class="small-12 large-6 columns speakerContent ">
				<h2>Jeffrey Pilcher</h2>
				<h3>Food</h3>
				<p>What should we eat? Advances in nutritional science and the rise of the industrial food system have seemingly overcome the periodic famines of the past, yet we seem ever more anxious about our food. Is it healthy for us and for our planet? Where is it produced, by whom, and why does this matter? Jeffrey Pilcher seeks to put these questions in historical perspective. The author of several books, including Planet Taco: A Global History of Mexican Food, he teaches classes on food in world history at the University of Toronto and is affiliated with the Culinaria Research Project.</p>
			</div>
		</div>
		
		<div class="small-12 medium-9 small-centered columns">
			<div class="small-12 large-6 columns speakerContent threebox speakerPhoto"></div>
			<div class="small-12 large-6 columns speakerContent">
				<h2>Tobias Chen</h2>
				<h3>Technology</h3>
				<p>Tobias Chen explores the synergy between humans and wearables and demonstrates how the future of mediated reality systems can change the way we communicate and collaborate. He is a technologist and futurist born and raised in Vancouver, BC, and currently studying Interactive Digital Media at the University of Toronto. He is a researcher at the Humanistic Intelligence Laboratory, working with Dr. Steve Mann and colleagues on creating both augmented and virtual reality systems through wearable computing and computer vision technologies.</p>
			</div>
		</div>
		
		<h2 class="small-12 columns comingSoon">More speakers to be announced...</h2>
	</div>
	
	<div class="small-12 small-centered columns cftickets">
		<div class="small-10 large-5 small-centered columns ticketsbutton">
			<h3>
				<span>Tickets</span>
				<br>Coming soon. Stay tuned!
			</h3>
			<img src="/img/airballoon.png" class="airBalloon">
			<img src="/img/airballoon.png" class="airBalloonSmall">
		</div>
	</div>
	
	<div class="small-12 large-9 small-centered columns sponsors">
			<h3>A special thanks to</h3>
			<img src="/img/sponsors/UofT.png" class="small-12 large-3 small-centered columns cfsponsorlogo">
			<img src="img/sponsors/td.png" class="small-12 large-3 small-centered columns cfsponsorlogo tdlogo">
			<img src="/img/sponsors/manulife.png" class="small-12 large-3 small-centered columns cfsponsorlogo">
			<img src="/img/sponsors/varsity-logo.png" class="small-12 large-3 small-centered columns end cfsponsorlogo">
	</div>
	<img src="/img/cityspace-01.png" class="small-12 columns illucity">
</div>
