
<div id="large-header" class="large-header">
	<canvas id="background-canvas"></canvas>
	<h1 class="main-title"><b>TEDx</b>UofT 2015</h1>
</div>

<div class="row Newbox" ng-controller = "MainCtrl">
	<h1 class="NewboxTitle"><b>New</b> Insights</h1>
	<h5 class="NewboxText">
		<i>An open ended and all encompassing theme that reflects the various fields of study of our speakers, the many skills and interests of 82,000 students at the University of Toronto’s three campuses, and the endless outcomes of ideas worth sharing.</i></h5>
	<h5 class="NewboxText">
		<i>In the spirit of ideas worth spreading, TED has created a program called TEDx. <br> TEDx is a program of local, self-organized events that bring people together to share a TED-like experience.</i></h5>
	<div class="nav-boxes"> 
		<ul class="small-block-grid-2 medium-block-grid-4 boxes data-equalizer">
			<li class="boxdarkblue" data-equalizer-watch><a href="#/">
				<h3>Know of an influential Speaker?</h3>
				<h4>Nominate them here</h4></a></li>
			<li class="boxdarkblue" data-equalizer-watch><a href="#/about">
				<h3>Follow us on Facebook, Twitter and Instagram</h3>
				<h4>Nominate them here</h4></a></li>
			<li class="boxdarkblue" data-equalizer-watch><a href="#/speakers">
				<h3>TEDxUofT 2015 Conference</h3>
				<h4>Coming soon</h4></a></li>
			<li class="boxdarkblue" data-equalizer-watch><a href="#/conference">
				<h3>Twitter Feed</h3>
				<p>The grounds of #UofT can be spooky indeed! Ghosts of U of T walking tours nightly for October! http://ow.ly/CoIGF  #BOO</p></a></li>
		</ul>
		<ul class="small-block-grid-2 medium-block-grid-4 boxes data-equalizer">
			<li class="boxdarkblue" data-equalizer-watch><a href="#/">
				<h3>Know of an influential Speaker?</h3>
				<h4>Nominate them here</h4></a></li>
			<li class="boxdarkblue" data-equalizer-watch><a href="#/about">
				<h3>Follow us on Facebook, Twitter and Instagram</h3>
				<h4>Nominate them here</h4></a></li>
			<li class="boxdarkblue" data-equalizer-watch><a href="#/speakers">
				<h3>TEDxUofT 2015 Conference</h3>
				<h4>Coming soon</h4></a></li>
			<li class="boxdarkblue" data-equalizer-watch><a href="#/conference">
				<h3>Know of an influential Speaker?</h3>
				<h4>Nominate them here</h4></a></li>
				</a></li>
		</ul>
	</div>

					

<script src="scripts/plugins/AnimatedHeaderBackgrounds/TweenLite.min.js"></script>
<script src="scripts/plugins/AnimatedHeaderBackgrounds/EasePack.min.js"></script>
<script src="scripts/plugins/AnimatedHeaderBackgrounds/rAF.js"></script>
<script src="scripts/plugins/AnimatedHeaderBackgrounds/animatedBackgournd.js"></script>