
<div id="large-header" class="large-header">
	<canvas id="background-canvas"></canvas>
	<!--<h1 class="headerText main-title"><span>TEDx</span>UofT 2015</h1>
	<h1 class="headerText sub-title">A Constellation of Insights</h1>
	<h1 class="headerText sub2-title">Coming March 8<sup>th</sup>, 2015</h1>-->
	<h2 class="headerText scroll-title">Scroll</h2>
</div>

<div class="row Newbox">
	<h1 class="NewboxTitle"><b>New</b> Insights</h1>
	<h5 class="NewboxText">
		<i>An open ended and all encompassing theme that reflects the various fields of study of our speakers, the many skills and interests of 82,000 students at the University of Toronto’s three campuses, and the endless outcomes of ideas worth sharing.</i></h5>
	<h5 class="NewboxText">
		<i>In the spirit of ideas worth spreading, TED has created a program called TEDx. <br> TEDx is a program of local, self-organized events that bring people together to share a TED-like experience.</i></h5>
	
	<div id="containerFeeds" class="containerFeeds">
		<div class="item large-4">
			<img src="/img/UT1.JPG">
			<div class="FeedboxText">
				<h3>Know of an influential Speaker?</h3>
				<h4>Nominate them here</h4>
			</div>
		</div>
		<div class="item">
			<div class="FeedboxText">
				<h3>Volunteer Applications</h3>
				<h4>Now Open!</h4>
			</div>
		</div>
		<div class="item">
			<div class="FeedboxText boxtwitter">
				<h4>Twitter Feed <span>@TEDxUofT</span></h4>
				<h7>Women of Influence</h7>
				<h6 class="twittercontent">We've heard it before and we hear it from Brigid: there is no such thing as balance. Life is about work and life consequence management.</h6>
				<h7>TEDxUofT <span>@TEDxUofT</span></h7>
				<h6 class="twittercontent">Wonder what they do up at the International Space Station? Wonder no more! via @mental_floss http://bit.ly/1wCOOdj  </h6>
				<h7>TEDxUofT <span>@TEDxUofT</span></h7>
				<h6 class="twittercontent">Mayor envy! Computer science students @UofT get to play with @IBM 's @IBMWatson. http://news.utoronto.ca/ibms-watson-comes-computer-science-department-university-toronto …</h6>
			</div>
		</div>
		<div class="item">
			<div class="FeedboxText">
				<h3>Watch Past Speakers</h3>
			</div>
		</div>
		<div class="item">
			<div class="FeedboxText">
				<h3>Know of an influential Speaker?</h3>
				<h4>Nominate them here</h4>
			</div>
		</div>
		<div class="item">
			<div class="">
				<img src="/img/rotman.jpg">
			<div class="FeedboxText">
				<h3>Know of an influential Speaker?</h3>
				<h4>Nominate them here</h4></div>
			</div>
		</div>
	</div>
</div>

<script>
	var container = document.querySelector('#containerFeeds');
	var msnry;
	// initialize Masonry after all images have loaded
	imagesLoaded( container, function() {
	  msnry = new Masonry( container, {
		 itemSelector: '.item',
		 "columnWidth": 60,
		 "gutter": 3	
	  });
	});
</script>
		
<script src="scripts/plugins/AnimatedHeaderBackgrounds/TweenLite.min.js"></script>
<script src="scripts/plugins/AnimatedHeaderBackgrounds/EasePack.min.js"></script>
<script src="scripts/plugins/AnimatedHeaderBackgrounds/rAF.js"></script>
<script src="scripts/plugins/AnimatedHeaderBackgrounds/animatedBackgournd.js"></script>