<div class="row">
	<div class="small-2 columns step-button">
		<div class="step-button-text">
			X
		</div>
	</div>
	<div class="small-2 columns step-button">
	<div class="step-button-text">
			X
		</div>
	</div>
	<div class="small-2 columns step-button">
		<div class="step-button-text">
			X
		</div>
	</div>
	<div class="small-2 columns step-button">
		<div class="step-button-text">
			X
		</div>
	</div>
	<div class="small-2 columns step-button">
		<div class="step-button-text">
			X
		</div>
	</div>
	<div class="small-2 columns end step-button">
		<div class="step-button-text">
			X
		</div>
	</div>
</div>
<br><br>
<div class="row">
	<div class="small-8  small-centered columns">
		<h4>Hi there!<h4>
		<p>As a tri-campus initiative, TEDxUofT aims to showcase talent from the University of Toronto. 
		If you have come across fascinating work, stories, or ideas of individuals from UofT, whether they 
		are faculty, staff, students, or alumni, please don’t hesitate to nominate them to speak at the TEDxUofT2015
		conference! This is a great opportunity for their ideas and experiences to be recognized by a larger audience. 
		If you have other speaker suggestions, we also accept nominations of those who are external to UofT.
		</p>
		<p>Regards, <br>The TEDxUofT Team</p>
	</div>
<div>