<div class="row">
	<div class="small-12 columns">
		<div class="videoWrapper">
			<!-- Copy & Pasted from YouTube -->
			<iframe src="{{trustSrc(videoLinkPlaying)}}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
	
<div class="row">
	<div class="small-12 large-8 small-centered columns displayVideoInfo">
		<h2 class="small-12">{{displayVideoInfo.speaker}}</h2>
		<h3 class="small-12"><span>{{displayVideoInfo.title}}</span></h3>
		<h5 class="videoDescription small-12 columns">{{displayVideoInfo.description}}</h5>
	</div>
</div>	

<div class="row">
	<div class="small-12 small-centered columns">
		<div class="small-12 medium-6 large-4 columns" ng-repeat="video in displayVideos">
			<div class="video_box" back-img="http://img.youtube.com/vi/{{video['id']}}/maxresdefault.jpg" 
			ng-click="playVideo(currentIndexFirstDisplayedVideo+$index)" smooth-scroll-jquery target="" speed="200" >
				<div class="video_boxContent">
					<div class="videoTitle">
						<h3>{{video.speaker}}</h3>
						<h4>{{video.title}}</h4>
					</div>
				</div>
			</div>
		</div> 	
	</div>
</div>	

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-47529145-1', 'auto');
  ga('send', 'pageview');
</script>