<div class="row">
	<div class="small-12 columns">
		<div class="videoWrapper">
			<!-- Copy & Pasted from YouTube -->
			<iframe src="{{trustSrc(videoLinkPlaying)}}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="small-12 columns">
		<div class="small-1 columns">
			<a href="javascript:void(0)" class="button video_box video_buttons" ng-disabled="currentIndexFirstDisplayedVideo==0" ng-click="leftNaviVideo()">
				<i class="fi-arrow-left large"></i>
			</a>
		</div>
		
		<div class="small-10 columns">
			<div class="small-3 columns video_box text-center" ng-repeat="video in displayVideos" back-img="http://img.youtube.com/vi/{{video['id']}}/maxresdefault.jpg" ng-click="playVideo(currentIndexFirstDisplayedVideo+$index)">
			</div>
		</div>
		
		<div class="small-1 columns">
			<a href="javascript:void(0)" class="button video_box video_buttons" ng-disabled="currentIndexFirstDisplayedVideo==videos.length-4" ng-click="rightNaviVideo()">
				<i class="fi-arrow-right large"></i>
			</a>
		</div>
	</div>
</div>	