<div class="row">
	<div class="small-2 columns step-button-undone" ng-if="stepIndex.value<1" ng-click="setStepIndex(0)">
		<div class="step-button-text">
			X
		</div>
	</div>	
	<div class="small-2 columns step-button-done" ng-if="stepIndex.value>0" ng-click="setStepIndex(0)">
		<div class="step-button-text">
			X
		</div>
	</div>
	
	<div class="small-2 columns step-button-undone" ng-if="stepIndex.value<2"  ng-click="setStepIndex(1)">
		<div class="step-button-text">
				X
		</div>
	</div>
	<div class="small-2 columns step-button-done" ng-if="stepIndex.value>1" ng-click="setStepIndex(1)">
		<div class="step-button-text">
				X
		</div>
	</div>
	
	<div class="small-2 columns step-button-undone" ng-if="stepIndex.value<3" ng-click="setStepIndex(2)">
		<div class="step-button-text">
			X
		</div>
	</div>
	<div class="small-2 columns step-button-done" ng-if="stepIndex.value>2" ng-click="setStepIndex(2)">
		<div class="step-button-text">
			X
		</div>
	</div>
	
	<div class="small-2 columns step-button-undone" ng-if="stepIndex.value<4" ng-click="setStepIndex(3)">
		<div class="step-button-text">
			X
		</div>
	</div>
	<div class="small-2 columns step-button-done" ng-if="stepIndex.value>3" ng-click="setStepIndex(3)">
		<div class="step-button-text">
			X
		</div>
	</div>
	
	<div class="small-2 columns step-button-undone" ng-if="stepIndex.value<5" ng-click="setStepIndex(4)">
		<div class="step-button-text">
			X
		</div>
	</div>
	<div class="small-2 columns step-button-done" ng-if="stepIndex.value>4" ng-click="setStepIndex(4)">
		<div class="step-button-text">
			X
		</div>
	</div>
	
	<div class="small-2 columns end step-button-undone" ng-if="stepIndex.value<6" ng-click="setStepIndex(5)">
		<div class="step-button-text">
			X
		</div>
	</div>
	<div class="small-2 columns end step-button-done" ng-if="stepIndex.value>5" ng-click="setStepIndex(5)">
		<div class="step-button-text">
			X
		</div>
	</div>
</div>
<br><br><br><br>

<!--
<div class="row" ng-if="stepIndex.value==0" >
	<div class="small-8  small-centered columns">
		<h4>Hi there!</h4>
		<p>Thank you v
		</p>
		<p>Regards, <br>The TEDxUofT Team</p>
	</div>
</div>
-->

<div class="row" ng-if="stepIndex.value==0">
    <div class="small-8	 small-centered columns">
	
	<div class="row">
		<div class="large-3 columns">
          <label for="right-label" class="left Inline "><p>Hi, my name is</p></label>
        </div>
        <div class="large-3 columns  end" ng-class="{error: validation.Name}">
          <input type="text" id="right-label" placeholder="Alex Nominator" ng-model="submission.Name" ng-class="{error: validation.Name}">
		  <small ng-class="{error: validation.Name}" ng-if="validation.Name">Don't be shy :D</small>
        </div>
    </div>
	  
	  <div class="row">
		<div class="large-3 columns">
           <label for="right-label" class="left Inline "><p>You can reach me at</p></label>
        </div>
		<div class="large-3 columns" ng-class="{error: validation.Email}"> 
          <input type="text" id="right-label" placeholder="theGreat@ruling.com" ng-model="submission.Email" ng-class="{error: validation.Email}">
		  <small ng-class="{error: validation.Email}" ng-if="validation.Email">What..?</small>
        </div>
		<div class="large-1 columns" style="margin-left:10px">
          <label for="right-label" class="left Inline "><p>or</p></label>
        </div>
		<div class="large-3 columns end" ng-class="{error: validation.Phone}">
          <input type="text" id="right-label" placeholder="647-IAM-COOL" ng-model="submission.Phone" ng-class="{error: validation.Phone}">
		  <small ng-class="{error: validation.Phone}" ng-if="validation.Phone">No phone and email? Caveman?</small>
        </div>
      </div>

	  
	  <div class="row">
		<div class="large-5	 columns">
           <label for="right-label" class="left Inline "><p>Are you available on March 15th, 2015 (the date of our TEDx event)?</p></label>
        </div>
        <div class="large-3 columns end">
		  <input type="radio" ng-model="submission.AvailableOnCon" value="Yes">  Yes &nbsp;&nbsp;&nbsp;&nbsp;
		  <input type="radio" ng-model="submission.AvailableOnCon" value="No">  no 
        </div>
      </div>
	  
	  
    </div>
</div>


<div class="row" ng-if="stepIndex.value==1">
	<div class="small-6 small-centered columns">
			<div class="row small-centered">
				<div class="large-1 columns"> 
					<label for="right-label" class="left Inline "><p>Year</p></label>
				</div>
				
				<div class="large-11 columns" ng-class="{error: validation.Year}"> 
					<input type="radio" ng-model="submission.Year" value="1">  1 &nbsp;&nbsp;
					<input type="radio" ng-model="submission.Year" value="2">  2 	&nbsp;&nbsp;
					<input type="radio" ng-model="submission.Year" value="3">  3 &nbsp;&nbsp;
					<input type="radio" ng-model="submission.Year" value="4">  4 &nbsp;&nbsp;
					<input type="radio" ng-model="submission.Year" value="Other">  Other 
				</div>
				<div class="large-2 columns end">
						<small ng-class="{error: validation.Year}" ng-if="validation.Year">Tell me please :(</small>
				</div>
			</div>
			
			<div class="row">
				<div class="large-6 columns" >
				  <label for="right-label" class="left Inline "><p>Campus:</p></label>
				</div>
				<div class="large-6 columns">
					<a href="javascript:void(0);" class="button tiny" ng-class="campusUTSC" 
					ng-click="getCampus('UTSC');" >UTSC</a>
					
					<a href="javascript:void(0);" class="button tiny" ng-class="campusUTM"
					ng-click="getCampus('UTM');" >UTM</a>
					
					<a href="javascript:void(0);" class="button tiny" ng-class="campusUTSG" 
					ng-click="getCampus('UTSG');" >UTSG</a>
					
					<a href="javascript:void(0);" class="button tiny" ng-class="campusOther"
					ng-click="getCampus('Other');" >Other</a>
					<small ng-class="{error: validation.Campus}" ng-if="validation.Campus">You trust me. I trust you.</small>
				</div>
			</div>
			
			<div class="row">
				<div class="large-6 columns" >
				  <label for="right-label" class="left Inline "><p>How would you like to help us? Check as many as possible:</p></label>
				</div>
				<div class="large-6 columns">
					<a href="javascript:void(0);" class="button tiny" ng-class="{volunteer_pos: !active1.value, volunteer_posActive: active1.value}" 
					ng-click="active1.value=!active1.value; getPostions();" >Visuals</a>
					
					<a href="javascript:void(0);" class="button tiny" ng-class="{volunteer_pos: !active2.value, volunteer_posActive: active2.value}"
					ng-click="active2.value=!active2.value; getPostions();" >Event Setup</a>
					
					<a href="javascript:void(0);" class="button tiny" ng-class="{volunteer_pos: !active3.value, volunteer_posActive: active3.value}" 
					ng-click="active3.value=!active3.value; getPostions();" >Assisting Performers</a>
					
					<a href="javascript:void(0);" class="button tiny" ng-class="{volunteer_pos: !active4.value, volunteer_posActive: active4.value}"
					ng-click="active4.value=!active4.value; getPostions();" >AV Setup</a>
					<small ng-class="{error: validation.Positions}" ng-if="validation.Positions">At least do something...</small>
				</div>
			</div>
	</div>
</div>


<div class="row" ng-if="stepIndex.value==2">
    <div class="small-8	 small-centered columns">
		<div class="large-12 columns">
          <label for="right-label" class="left Inline "><p>How did you hear about TEDxUofT? </p></label>
        </div>
		<div class="large-12 columns">
          	<textarea rows="10" placeholder="I know it all" ng-model="submission.HowHearTEDxUofT"></textarea>
			<small ng-class="{error: validation.HowHearTEDxUofT}" ng-if="validation.HowHearTEDxUofT">Do you know us at all?</small>
        </div>
	</div>
</div>


<div class="row" ng-if="stepIndex.value==3">
    <div class="small-8	 small-centered columns">
		<div class="large-12 columns">
          <label for="right-label" class="left Inline "><p>How did you learn about this volunteer position? </p></label>
        </div>
		<div class="large-12 columns">
          	<textarea rows="10" placeholder="I am born with it" ng-model="submission.ExperiencePosi"></textarea>
			<small ng-class="{error: validation.ExperiencePosi}" ng-if="validation.ExperiencePosi">You have no clue, do you?</small>
        </div>
	</div>
</div>

<div class="row" ng-if="stepIndex.value==4">
    <div class="small-8	 small-centered columns">
		<div class="large-12 columns">
          <label for="right-label" class="left Inline "><p>What’s your past experience with TED?</p></label>
        </div>
		<div class="large-12 columns">
          	<textarea rows="10" placeholder="I have attended all the TED conferences since I was born" ng-model="submission.PastExper"></textarea>
			<small ng-class="{error: validation.PastExper}" ng-if="validation.PastExper">That's it?</small>
        </div>
	</div>
</div>

<div class="row" ng-if="stepIndex.value==5">
    <div class="small-8	 small-centered columns">
		<div class="large-12 columns">
          <label for="right-label" class="left Inline "><p>Is there anything you would really like to see in the upcoming TEDxUofT event?</p></label>
        </div>
		<div class="large-12 columns">
          	<textarea rows="10" placeholder="See myself dancing on the stage as one of the performances in the conference" ng-model="submission.LikeSeeInEvent"></textarea>
			<small ng-class="{error: validation.LikeSeeInEvent}" ng-if="validation.LikeSeeInEvent">At least something...</small>
        </div>
	</div>
</div>
<div class="row" ng-if="stepIndex.value==6">
    <div class="small-8	 small-centered columns">
		<div class="large-12 columns">
          <label for="right-label" class="left Inline "><p>Any questions for us? </p></label>
        </div>
		<div class="large-12 columns">
          	<textarea rows="10" placeholder="So can I dance on the stage?" ng-model="submission.Questions"></textarea>
        </div>
	</div>
</div>

<br><br><br>
<div class="row">
	<div class="small-8 columns small-centered ">
		<a class="button round left" ng-if="(stepIndex.value>0 && stepIndex.value<7)" ng-click="prevStep()">Previous</a>
		<a class="button round right" ng-if="stepIndex.value<6"  ng-click="nextStep()">Continue</a>
		<a class="button round right" ng-if="stepIndex.value==6"  ng-click="nextStep()">Finish</a>
	</div>
</div>

<div class="row" ng-if="stepIndex.value==7">
	<div class="small-3 columns small-centered animate-hide" ng-hide="submitStatus!='submitting'">
		<h1>Submitting....</h1>
	</div>
	<div class="small-7 columns small-centered animate-hide" ng-hide="submitStatus!='success'">
		<h1>Thanks! Your message has been submitted! 	We'll get back to you real soon :)</h1>
	</div>
	<div class="small-7 columns small-centered animate-hide" ng-hide="submitStatus!='fail'">
		<h1>Oh No! Something went wrong with the submission process!</h1>
		<p>Don't worry! You can email us at <a href="mailto:applications.tedxuoft@gmail.com">Applications@TEDxUofT.com</a> and we'll take a look into this situation</p>
	</div>
</div>
